
body{
    background-color: peachpuff;
}
h1{
    font-family: 'Roboto', sans-serif ;
}
h2{
    color: brown;
    text-decoration: underline;
}
img{
    height: 300px;
    
}
button{
    background-color: brown;
    font-size: 120%;
    color: white;
}
